.hero {
  position: relative;
  z-index: 2;
}

.hero__container {
  padding-top: 0;
  position: relative;
  z-index: 2;
}

.bg_color {
  width: 150%;
  height: 70%;
  background: $color-main;
  position: absolute;
  top: 0;
  left: 0;
}

.wave {
  width: 6000px;
  height: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  background-image: url('../images/wd1.svg');
  background-position: bottom;
}

.w1 {
  animation: w1 7s linear infinite;
}

@keyframes w1 {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

.w2 {
  animation: w2 7s linear -0.125s infinite,
    desplazamiento 7s ease -0.125s infinite;
  opacity: 0.5;
}

@keyframes w2 {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes desplazamiento {
  0%,
  100% {
    transform: translateY(-25px);
  }

  50% {
    transform: translateY(10px);
  }
}

.hero__main {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .hero__item {
    .hero__img {
      padding-top: 50px;
      height: 800px;
      width: 900px;
      // padding-bottom: 50px;
      // padding: 200px;
      border-style: none;
      border-radius: 50%;
      box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.5);
    }

    .hero__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding: 30px;
      // padding-right: 60px;
      width: 380px;
      height: 600px;
      color: rgb(9, 9, 9);
      text-shadow: 1px 1px 2px $color-background-sections;
      font-size: 30px;
      line-height: 1.4;
      text-align: center;
      margin: 0 auto;

      .hero__button {
        background-color: white;
        border-radius: 28px;
        box-shadow: 2px 2px 10px $color-main;
        font-family: sans-serif;
        color: rgb(8, 8, 8);
        font-size: 19px;
        font-weight: 700;
        padding: 10px;
        border-style: none;
        text-decoration: none;
        width: 190px;
        text-align: center;
        text-shadow: 1px 1px 2px $color-background-sections;
        position: relative;
        margin-top: 30px;
        transition: all 250ms $cubic;

        &:hover,
        &:focus {
          box-shadow: 2px 2px 10px $color-secondary;
          color: $color-main;
          cursor: pointer;
        }

        .hero__button-click {
          position: absolute;
          width: 50px;
          right: 0;
        }
      }
    }
  }
}
