.services__section {
    padding-top: 30px;

}

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .services__buttons-list {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    margin-bottom: 34px;
    } 

    .services__title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../images/backservicestitle.png);
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 150px;
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
    }
}


.services__button--current{
    background-color: $color-main;
    color: $color-text-light;
}

.services__cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .services__cards-item {
    display: flex;
    font-family: inherit;
    font-size: 18px;
    border: 1px solid $color-secondary;
    border-style: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: transparent;
    box-shadow: 0px 1px 4px $color-secondary;
    transition: box-shadow 250ms $cubic, transform 250ms $cubic;
    flex-basis: calc((100% - 60px) / 3);

    &:hover {
    font-family: inherit;
    font-size: 18px;
    border: 1px solid $color-secondary;
    border-style: none;
    box-shadow: 2px 2px 4px $color-secondary;
    cursor: pointer;
    }

    &:hover .services__overlay-block {
    transform: translateY(0);
}
}
}

.services__overlay {
    position: relative;
    overflow: hidden;

    .services__overlay-block {
    width: 370px;
    height: 370px;
    background-color: rgba(248, 248, 247, 0.85);
    position: absolute;
    top: 0;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 2%;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 250ms $cubic;
    font-family: inherit;
    font-size: 14px;
}
}

.services__cards-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
    .services__cards-title {
    text-align: center;
    font-family: inherit;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    }
}

.services__cards-img {
   height: 270px;
   border-radius: 10px;
}

@media screen and (max-width: 767px) {
    
    .services {
        width: 100%;
    
    .services__container {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .services__buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }   
}
}

.services__cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .services__cards-item{
        flex-basis: calc((100% - 20px) / 1);
    }
}

.services__cards-img {
    width: 100%;
}

.services__overlay {
    position: relative;
    overflow: hidden;
    width: 100%;

    .services__overlay-block {
    width: 100%;
    height: 100%;
    }
}

}

